<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="hasRole('USER')"/>
		<intercept-url pattern="/admin**" access="hasRole('USER')"/>
		<intercept-url pattern="/gestion/**" access="hasRole('USER')"/>
		
		<form-login 
		    login-page="/login" 
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			login-processing-url="/j_spring_security_check"
			username-parameter="username"
			password-parameter="password" />
		<logout 
			logout-url="/j_spring_security_logout"
			logout-success-url="/login?logout"  />
		<!-- enable csrf protection -->
		<csrf/>
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="userService" >
			<password-encoder hash="bcrypt" />    
		</authentication-provider>
	</authentication-manager>

</beans:beans>