<script type='text/template' id='templatePruebas'>
	<div class="encabezado-entrenamiento">
		<h3>Entrenamiento del </h3>
		<div class = "input-group datos-entrenamiento">
			<input type='text' class="datetime form-control" name="datetime-field"/>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div> 
	<table class="table">
		<tr>
        <th>Distancia</th>
        <th>Estilo</th>
        <th>Tipo</th>
        <th><button style="color:#078C19; opacity: 2;" type="button" class="close boton-agregar-prueba">+</button></th>
        </tr>
<% 
        for (var i = 0; i < pruebas.length; i++) {
%>
            <tr>
                <td>
                    <select class="form-control distancia">
<% 
                        var distancia = 25;
                        while ( distancia < 1600 ) {
%>
                            <option value="<%= distancia %>" <% if(pruebas[i].distancia == distancia) { %> selected <% } %> ><%= distancia %></option>
<% 
                            if (distancia < 200) {
                                distancia = distancia * 2;
                            }
                            else if (distancia < 1000) {
                                distancia = distancia +100;
                            }
                            else {
                                distancia = distancia + 500;
                            }
                        }
%>
                     </select>
                </td>
                <td>
                    <select class="form-control estilo">
                        <option value="1" <% if(pruebas[i].estilo == 1) { %> selected <% } %> >Libre</option>
                        <option value="2" <% if(pruebas[i].estilo == 2) { %> selected <% } %> >Dorso</option>
                        <option value="3" <% if(pruebas[i].estilo == 3) { %> selected <% } %> >Pecho</option>
                        <option value="4" <% if(pruebas[i].estilo == 4) { %> selected <% } %> >Mariposa</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control tipoPrueba" placeholder="Tipo de prueba (Ejemplo: Calentamiento)" value = "<%= pruebas[i].tipo %>">
                </td>
                <td>
                    <button style="color:#C00; opacity: 2;" type="button" class="close boton-borrar-prueba">&times;</button>
                </td>
            </tr>
<%
        }
%>
    </table>
</script>