

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hidden {
    display: none;
}

#login-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

#login-container h1 {
    margin-bottom: 30px;
}

#login-container input {
    margin-bottom: 10px;
}











